
<form action="/api/productos" method="post">
  <div class="form-row">
    <div class="form-group col-sm">
      <label for="inputEmail4">Titulo del producto</label>
      <input type="text" name="titulo" class="form-control"  placeholder="nombre">
      <label for="inputPassword4">Clasificacion</label>
      <input type="text" name="clasificacion" class="form-control"  placeholder="clasificacion genero">
      <label for="inputAddress">Descripcion</label>
      <input type="text" name="descripcion" class="form-control"  placeholder="descripcion del producto">
      <label for="inputAddress">codigo</label>
      <input type="text" name="codigo" class="form-control"  placeholder="codigo">
      <label for="inputAddress2">URL imagen</label>
      <input type="url" class="form-control" name="url" placeholder="URL htttp://...">
      <label for="inputAddress2">precio</label>
      <input type="number" class="form-control" name="precio" placeholder="Precio $">
      <label for="inputZip">stock</label>
      <input type="number" class="form-control" name="stock" placeholder="Unidades disponible">
    </div>
    </div>

  <button type="submit" class="btn btn-primary mt-2">Guardar producto</button>
</form>